@import 'azure-devops-ui/Core/_platformCommon.scss';
@import '../styles/mixins.scss';
@include extension-container('control-container');

.add-criteria-button {
  .ms-Icon {
    color: rgba(var(--palette-accent2-dark, 16, 124, 16), 1);
  }
}

.status-tag {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  &-indicator {
    margin-right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
  }
}

.acceptance-critera-title-cell {
  display: flex;
  .title {
    width: 100%;
    align-self: center;
  }
}
