.flex-self-center {
  align-self: center;
}
.acceptance-critera-title-cell {
  display: flex;
  .title {
    width: 100%;
    align-self: center;
  }
}
@mixin status-tag-variant($name, $color) {
  &-#{$name} {
    .status-tag-indicator {
      background-color: $color;
    }
  }
}
.status-tag {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  &-indicator {
    margin-right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
  }
  @include status-tag-variant('new', #7e7e7e);
  @include status-tag-variant('completed', blue);
  @include status-tag-variant('awaitingapproval', teal);
  @include status-tag-variant('approved', green);
  @include status-tag-variant('rejected', red);
}
