@import 'azure-devops-ui/Core/override.css';
@import 'azure-devops-ui/Core/_platformCommon.scss';
@import '@joachimdalen/azdevops-ext-core/styles/mixins.scss';
@import '../styles/common';
@include extension-container('criteria-panel-container');

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.checklist,
.historylist {
  .bolt-list-cell {
    white-space: initial;
  }
}
.text-green {
  color: $status-success-foreground;
}

.text-blue {
  color: $status-info-foreground;
}
.text-orange {
  color: orange;
}
